@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height:auto;
    border: 2px solid black;
    text-align: left;
    border-radius: 10px;
    padding: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  } 
img{
    width:100%;
    height:auto;
    border-radius: 10px;
}

.heading, .content{
    font-family: "Ubuntu", sans-serif;
}
.heading{
    font-weight: bolder;
    font-size: 30px;
}

.text{
    padding: 20px;
}